{{ $logo_index := .logo_index }}
{{ $logo_dark := .logo_dark }}

<div class="grid organizations">
  {{- range .partners }}
    {{ if (index $logo_dark) }}
      {{ if .slug }}
        {{ with (site.GetPage (printf "/organizations/%s" .slug )) }}
          {{ template "partner" (dict 
              "title" .Title
              "url" .Permalink
              "logo" (index .Params $logo_index)
              "logo_dark" (index .Params $logo_dark)
            )}}
        {{ end }}
      {{ else }}
        {{ template "partner" (dict 
            "title" .name
            "url" .url
            "external" true
            "logo" .logo
            "logo_dark" .logo_dark
          )}}
      {{ end }}
    {{ else }}
      {{ if .slug }}
        {{ with (site.GetPage (printf "/organizations/%s" .slug )) }}
          {{ template "partner" (dict 
              "title" .Title
              "url" .Permalink
              "logo" (index .Params $logo_index)
            )}}
        {{ end }}
      {{ else }}
        {{ template "partner" (dict 
            "title" .name
            "url" .url
            "external" true
            "logo" .logo
          )}}
      {{ end }}
    {{ end -}}
  {{ end -}}
</div>